ServicioWebLecturaWSDL/src/conf/xml-resources/web-service-references/ConversionSW/wsdl/localhost_8080/ServiciosWebSoap/ConversionSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="ConversionSW">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ServiciosWebSoap/ConversionSW?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="consulta">
<part name="parameters" element="tns:consulta"/>
</message>
<message name="consultaResponse">
<part name="parameters" element="tns:consultaResponse"/>
</message>
<message name="validarDatos">
<part name="parameters" element="tns:validarDatos"/>
</message>
<message name="validarDatosResponse">
<part name="parameters" element="tns:validarDatosResponse"/>
</message>
<message name="euroAdolar">
<part name="parameters" element="tns:euroAdolar"/>
</message>
<message name="euroAdolarResponse">
<part name="parameters" element="tns:euroAdolarResponse"/>
</message>
<message name="diccionario">
<part name="parameters" element="tns:diccionario"/>
</message>
<message name="diccionarioResponse">
<part name="parameters" element="tns:diccionarioResponse"/>
</message>
<portType name="ConversionSW">
<operation name="hello">
<input wsam:Action="http://sw/ConversionSW/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/ConversionSW/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="consulta">
<input wsam:Action="http://sw/ConversionSW/consultaRequest" message="tns:consulta"/>
<output wsam:Action="http://sw/ConversionSW/consultaResponse" message="tns:consultaResponse"/>
</operation>
<operation name="validarDatos">
<input wsam:Action="http://sw/ConversionSW/validarDatosRequest" message="tns:validarDatos"/>
<output wsam:Action="http://sw/ConversionSW/validarDatosResponse" message="tns:validarDatosResponse"/>
</operation>
<operation name="euroAdolar">
<input wsam:Action="http://sw/ConversionSW/euroAdolarRequest" message="tns:euroAdolar"/>
<output wsam:Action="http://sw/ConversionSW/euroAdolarResponse" message="tns:euroAdolarResponse"/>
</operation>
<operation name="diccionario">
<input wsam:Action="http://sw/ConversionSW/diccionarioRequest" message="tns:diccionario"/>
<output wsam:Action="http://sw/ConversionSW/diccionarioResponse" message="tns:diccionarioResponse"/>
</operation>
</portType>
<binding name="ConversionSWPortBinding" type="tns:ConversionSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="euroAdolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversionSW">
<port name="ConversionSWPort" binding="tns:ConversionSWPortBinding">
<soap:address location="http://localhost:8080/ServiciosWebSoap/ConversionSW"/>
</port>
</service>
</definitions>